body {
    font-family: "Rounded Mplus 1c";
    font-weight: 500;
}
a {
    text-decoration: none;
}
.wf-roundedmplus1c-1 {
    font-family: "Rounded Mplus 1c";
    font-weight: 100;
}
.wf-roundedmplus1c-3 {
    font-family: "Rounded Mplus 1c";
    font-weight: 300;
}
.wf-roundedmplus1c-6 {
    font-family: "Rounded Mplus 1c";
    font-weight: 600;
}
.wf-roundedmplus1c-9 {
    font-family: "Rounded Mplus 1c";
    font-weight: 900;
}

img.top-icon {
    display: block;
    width: 100vmin;
    height: 100vmin;
    border-radius: 0vmin;
    max-width: 10em;
    max-height:10em;
}

div.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0em;
}

.siimple-tip {
    width: calc(100% - 25px - 20px - 20px);
    border-left-width: 20px;
}

.siimple-box-title {
    font-size: 32px;
}

.siimple-tip {
    padding-bottom: 30px;
}

.siimple-tip--twitter {
    border-left-color: #00aced;
}

.siimple-tip--github {
    border-left-color: #767676;
}

.siimple-tip--mastodon {
    border-left-color: #2588d0;
}

.siimple-tip--keybase {
    border-left-color: #ff6f21;
}

.siimple-tip--pixiv {
    border-left-color: #209ced;
}

.siimple-tip--statink {
    border-left-color: #767676;
}

.siimple-tip--time.aqr.af {
    border-left-color: #15b7a1;
}

.siimple-box-title {
    font-family: "Rounded Mplus 1c";
    font-weight: 900
}
