img.top-icon {
    display: block;
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    max-width: 8.5em;
    max-height: 8.5em;
}

div.top-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.siimple-tip {
    width: calc(100% - 25px - 20px - 20px);
    border-left-width: 20px;
}

.siimple-box-title {
    font-size: 32px;
}

.siimple-tip--twitter {
    border-left-color: #00aced;
}

.siimple-tip--github {
    border-left-color: #767676;
}

.siimple-tip--mastodon {
    border-left-color: #2588d0;
}